#wrapper {
  text-align: center;
  color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  width: 400px;
  margin: 0 auto;
}

#shopping-list {
  box-shadow: 20px 20px 0px #656a70;
}

form {
  display: flex;
  flex-direction: row;
}

form > input {
  flex-grow: 1;
  outline: none;
  padding-left: 4px;
  border: 0px;
  height: 20px;
}

form > button {
  border: 0px;
  background: rgb(122, 113, 113);
  color: white;
  outline: none;

}

ul {
  list-style: none;
  background-color: #558564;
}

/*this is the main backgground*/ 
li {
  background-color: #558564;/*this is the main backgground*/ 
}

h2 {
  background: #d1d1d1;
}

#mainComponent{
  background-color: brown;
}

.main-wrapper {
  min-height: 100%;
  display: grid;
  max-height: 100%;
  grid-template-rows: auto 1fr auto;
  background-color: #558564;
}

.content {
  display: block;
}

