
  <div class="main-wrapper" style="text-align:center">

    <div class="content">
      <ul>
        <li *ngFor="let s of stocks trackBy: trackStocks">
          <app-block [ticker]=s></app-block>
        </li>
      </ul>
    </div>

    <mat-sidenav #sidenav2 opened="{{message}}" [mode]="side" class="sidenav2" position="end">
      <div class="topnav2">

        <div class="top2">
          <i class="fa fa-bars" (click)="toggleRightNav()"></i>
        </div>

        <div id="newsArea" #newsArea *ngFor="let news of allNewsData">
          <div id="newsContent">
            <h5><a href="{{news.news_url}}" style="color:black;">{{news.title}} </a></h5>
            <p style="color:black">{{news.source_name}}</p>
            <!--{{news.text}}-->

          </div>
       
          <img  src="{{news.image_url}}" alt="/" height="100" width="100" />
          <mat-divider></mat-divider>
        </div>

      </div>
    </mat-sidenav>

  </div>


