
.main-wrapper {
  min-height: 100%;
  display: grid;
  max-height: 100%;
  grid-template-rows: auto 1fr auto;
  background-color: #558564;
}ul {
  list-style: none;
  background-color: #558564;
}

/*this is the main backgground*/ 
li {
  background-color: #558564;/*this is the main backgground*/ 
}

.content {
  display: inline-block;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 40%;
}

/* Style the navigation menu */
.topnav2 {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav2-component {
  background-color: rgb(255, 255, 255);
}

/* Add a grey background color on mouse-over */
.topnav2 i:hover {
  color: rgb(165, 160, 160);
}

/* Style the active link (or home/logo) */
.active {
  background-color: #564946;
  color: white;
}

.top2 {
  background-color: #564946;
}

.topnav2 div {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

#newsArea {
  background-color: #558564
}
#newsArea img {
  border-radius: 25px;
  height: 33%;
  width: 33%;
}

