<div class="example-box" cdkDrag >
  <div class="flex">
    <div class="flex-item">
      <div style="display: block;">

        <div *ngIf="isDataAvailable && showChart">
          <ngx-charts-line-chart
              [view]="view"
              [scheme]="colorScheme"
              [legend]="legend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [timeline]="timeline"
              [results]="lineChartData"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              >
            </ngx-charts-line-chart>
        </div>

        <div *ngIf="isIntradayAvailable && showIntraday">
            <google-chart #chart
            [title]="title"
            [type]="type"
            [data]="intradayData"
            [columnNames]="columnNames"
            [options]="options"
            [width]="width"
            [height]="height">
         </google-chart>
        </div>

        <div *ngIf="isSummaryAvailable && showSummary">
          <h2> {{summary.name}} </h2>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Symbol  |  {{ summary.symbol  }}</td>
                <td>Price  |  {{ summary.price }}</td>
              </tr>
              <tr>
                <td>Day High  |  {{ summary.dayhigh  }}</td>
                <td>Day Low  |  {{ summary.daylow }}</td>
              </tr>
              <tr>
                <td>EPS  |  {{ summary.eps  }}</td>
                <td>PE Ratio  |  {{ summary.pe }}</td>
              </tr>
              <tr>
                <td>Exchange  |  {{ summary.stockexchangeshort  }}</td>
                <td>Market Cap  |  {{ summary.marketcap }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
      
      <div class="button-wrapper">
        <button mat-button color="primary"> {{ticker}} </button>
        <button mat-button mat-raised-button color="primary" (click)="toggleNews()">News</button>
        <button mat-button mat-raised-button color="primary" (click)="toggleSummary()">Summary</button>
        <button mat-button mat-raised-button color="primary" (click)="toggleIntraday()">Intraday</button>
        <button mat-button mat-raised-button color="primary" (click)="toggleChart()">Historical</button>
        <button mat-button mat-raised-button color="warn" (click)="deleteStock()">Delete</button>
      </div>

    </div>
  </div>
</div>
