<mat-toolbar style="background-color: #C5CBE3;">  
  <mat-toolbar-row>
    <mat-label> Historical Data Filter:  </mat-label>
    <div style="padding-left:2%;padding-right:2%" class="btn-group" dropdown>
      <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-animated">
        {{ this.interval.length > 0  ? this.interval : 'Set Interval' }} <span class="caret"></span>
      </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
        <li (click)="setInterval($event)" role="menuitem"><a class="dropdown-item" href="#">1 Week</a></li>
        <li (click)="setInterval($event)" role="menuitem"><a class="dropdown-item" href="#">1 Month</a></li>
        <li (click)="setInterval($event)" role="menuitem"><a class="dropdown-item" href="#">6 Months</a></li>
        <li (click)="setInterval($event)" role="menuitem"><a class="dropdown-item" href="#">1 Year</a></li>
        <li (click)="setInterval($event)" role="menuitem"><a class="dropdown-item" href="#">5 Years</a></li>
        <li (click)="setInterval($event)" role="menuitem"><a class="dropdown-item" href="#">Max</a></li>
      </ul>
    </div>

    <mat-label> Market Status:  </mat-label>
    <mat-label id="marketStatus" *ngIf="!afterHours" style="background-color:red;"> Open  </mat-label>
    <mat-label id="marketStatus" *ngIf="afterHours" style="background-color:lightskyblue;"> Closed  </mat-label>

  </mat-toolbar-row>
   
</mat-toolbar>
