<mat-toolbar>  
  <mat-toolbar-row>
    <mat-label> Historical Data Filter:  </mat-label>
    <div style="padding-left:1%" class="btn-group" dropdown>
      <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-animated">
        {{ this.interval.length > 0  ? this.interval : 'Set Interval' }} <span class="caret"></span>
      </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
        <li (click)="setInterval($event)" role="menuitem"><a class="dropdown-item" href="#">1 Week</a></li>
        <li (click)="setInterval($event)" role="menuitem"><a class="dropdown-item" href="#">1 Month</a></li>
        <li (click)="setInterval($event)" role="menuitem"><a class="dropdown-item" href="#">6 Months</a></li>
        <li (click)="setInterval($event)" role="menuitem"><a class="dropdown-item" href="#">1 Year</a></li>
        <li (click)="setInterval($event)" role="menuitem"><a class="dropdown-item" href="#">5 Years</a></li>
        <li (click)="setInterval($event)" role="menuitem"><a class="dropdown-item" href="#">Max</a></li>

      </ul>
    </div>


  </mat-toolbar-row>
  
  
  </mat-toolbar>
