<div style="position:absolute; top:0; bottom:0; left:0; right: 0; display: flex; flex-direction: column;" >
  <mat-sidenav-container class="example-container">

    <!-- Left Side -->
    <mat-sidenav #sidenav [mode]="mode.value" class="sidenav">
      <div class="topnav" style="height:100%">

        <div class="top"><i class="fa fa-bars" (click)="sidenav.toggle()"></i></div>

        <div class="search"><app-search></app-search></div>

        <div class="store">
          <div>Your Selected Stocks</div>
          <ul *ngFor="let s of this.stocks trackBy: trackStocks">
            <li class="storeLi">{{s.ticker}} <button style="float:right;" id={{s.ticker}} mat-button mat-raised-button color="warn" (click)="deleteStock($event)">Delete</button> </li>
          </ul>
        </div>
         
      </div>
    </mat-sidenav>
    <!-- Left Side -->

    <!-- Main Content -->
    <mat-sidenav-content>

      <div class="topnav">

        <div class="top">

          <i  class="fa fa-bars" (click)="sidenav.toggle()"></i>
         
          <button style="float:right;" id="about" mat-raised-button  (click)="openDialog()">FAQ</button>
          

        </div>
      </div>

      <app-toolbar></app-toolbar>

      <app-main></app-main>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
