.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 35%;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #4056A1;
  position: relative;
}

/* Add a grey background color on mouse-over */
.topnav i:hover {
  color: rgb(165, 160, 160);
}


.top {
  background-color: #4056A1;
  display: inline;
  overflow: auto;
  white-space: nowrap;
  margin: 0px auto;
}

.search {
  background-color: #D79922;
}

.topnav div {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}






.store {
  background-color: #C5CBE3;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  flex-grow: 1;

}





div .topIcons {
  top: 50%;
}

#about {
  float: right;
  margin-left: -50%;
}


