
  <div mat-dialog-content>
    <h1 mat-dialog-title>Welcome to Stockblocks!</h1>
    <h5>Your own personalized equity research dashboard.</h5>
    <p>
      Click the icon on the left to open the search bar.
      Once you find the stock you are looking for click on it and watch the new stock block appear!
    </p>
    <p>Each block pulls its respective stocks data for </p>
    <ul>
      <li>Intraday Data</li>
      <li>Historical Data</li>
      <li>Daily Summary</li>
      <li>Related News</li>
    </ul>
  </div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onNoClick()">Close</button>
</div>
