  <div class="wrap">
    <h1 mat-dialog-title></h1>
    <div mat-dialog-content>
      
      <img src="../assets/logo-6.png" />

      <h2 id="greetingContent">Your own personalized equity research dashboard.</h2>
      <br />
      <p id="greetingContent">
        Click the icon on the top left corner to open the search bar.
      </p>
      <p id="greetingContent">
        Once you find the stock you are looking for, simply click on it and watch the new stoc bloc appear!
      </p>
      <p id="greetingContent">Each block pulls its respective data for </p>

      <p id="greetingContent">
        1. Live Updating Intraday Data<br />
        2. Filterable Historical Data<br />
        3. Related News<br />
        4. Daily Summary<br />
      </p>

    </div>

    <div class="spacer"></div>

    <div mat-dialog-actions style="align-items:center;">
      <button mat-button color="primary" (click)="onNoClick()">Close</button>
    </div>

  </div>
